{% for group_name, cfg in k8s_rbac_groups.items() %}
{% if cfg.namespaces != "*" %}
{% for ns in cfg.namespaces %}
{% for user in cfg.users %}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ user }}-sa
  namespace: {{ ns }}
  labels:
    rbac-group: {{ group_name }}
    scope: namespace
    group-scope: {{ ns }}
    group-name: {{ group_name }}
    group-type: ns-scoped
    user: {{ user }}
{% endfor %}
{% endfor %}
{% else %}
{% for user in cfg.users %}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ user }}-sa
  namespace: default
  labels:
    managed-by: ansible
    rbac-group: {{ group_name }}
    scope: cluster
    group-scope: all
    group-name: {{ group_name }}
    group-type: cluster-scoped
    user: {{ user }}
{% endfor %}
{% endif %}
{% endfor %}
