- name: Allocate floating IP
  shell: |
    source {{ project_rc_file }} {{ project_user }} {{ project_name }}
    openstack floating ip create {{ external_net }} -f value -c floating_ip_address
  register: floating_ip_result
  args:
    executable: /bin/bash
  ignore_errors: true

- name: Attach floating IP to VM
  shell: |
    source {{ project_rc_file }} {{ project_user }} {{ project_name }}
    openstack server add floating ip {{ vm_name }} {{ floating_ip_result.stdout }}
  args:
    executable: /bin/bash
  ignore_errors: true

- name: Show Floating IP assigned
  debug:
    msg: "VM {{ vm_name }} được gán Floating IP: {{ floating_ip_result.stdout }}"

- name: Add iptables NAT rules for SSH forwarding
  become: true
  ansible.builtin.shell: |
    iptables -t nat -C POSTROUTING -p tcp -d {{ floating_ip_result.stdout }} --dport 22 -j MASQUERADE || \
    iptables -t nat -A POSTROUTING -p tcp -d {{ floating_ip_result.stdout }} --dport 22 -j MASQUERADE

    iptables -t nat -C PREROUTING -p tcp --dport 2222 -j DNAT --to-destination {{ floating_ip_result.stdout }}:22 || \
    iptables -t nat -A PREROUTING -p tcp --dport 2222 -j DNAT --to-destination {{ floating_ip_result.stdout }}:22
  args:
    executable: /bin/bash

