- name: Allow ICMP (ping)
  shell: |
    source {{ project_rc_file }} {{ project_user }} {{ project_name }}
    SG_ID=$(openstack security group list --project admin -f value -c ID -c Name | awk '$2=="default"{print $1}')
    openstack security group rule create --proto tcp --dst-port 22 $SG_ID
  args:
    executable: /bin/bash
  ignore_errors: true

- name: Allow SSH (port 22)
  shell: |
    source {{ project_rc_file }} {{ project_user }} {{ project_name }}
    SG_ID=$(openstack security group list --project admin -f value -c ID -c Name | awk '$2=="default"{print $1}')
    openstack security group rule create --proto tcp --dst-port 22 $SG_ID
  args:
    executable: /bin/bash
  ignore_errors: true
